 .header .wrapper
 {
	width:100%;
    margin:auto;	
 }
 
   .banner .wrapper
 {
	width:70%;
    margin:auto;	
 }
 .information .wrapper
 {
	 width:100%;
	 margin:auto;	
 }
 .header .header-fc
 {
	 display:flex;
	 justify-content:space-around;
 }
 .header .header-fc .home
 {
	 background-color:yellow;
	 height:56px;
	 width:700px;
 }

 .header .header-fc .navi
 {
	 background-color:pink;
	 height:56px;
	 width:700px;
 }
 .banner .banner-fc
 {
	 display:flex;
	 flex-wrap:wrap;
	 justify-content:space-between;
	 background-color:white;
	 height:512px;
	 width:1000px;
	 margin-top:10px;
 }
 .banner .banner-fc .boxa
 {
	 background-color:yellow;
	 height:400px;
	 width:500px;
	 margin-top:60px;
 }
 .banner .banner-fc .boxb
 {
	 background-color:green;
	 height:400px;
	 width:500px;
	 margin-top:60px;
 }
  .banner .banner-fc .call
  {
	  width:100px;
	  height:30px;
	  margin-top:300px;
	  margin-left:30px;
	  background-color:plum;
  }
 .banner .banner-fc .tagline
 {
	 background-color:blue;
	 height:104px;
	 width:1400px;
	 margin-bottom:300px;
	 margin-top:50px;
 }
 .information .information-fc
 {
	 display:flex;
	 justify-content:space-evenly;
	 background-color:gray;
	 height:401px;
	 width:1360px;
	 flex-direction:row;
	 margin-top:150px;
 }
 .information .information-fc .card-a
 {
	 background-color:yellow;
	 height:250px;
	 width:372px;
	 margin-top:100px;
 }
 .information .information .boxa
 {
 width:100px;
	  height:30px;
	  margin-top:300px;
	  margin-left:30px;
	  background-color:plum;
 }
 .information .information-fc .card-b
 {
	 background-color:green;
	 height:250px;
	 width:372px;
	 margin-top:100px;
 }
 .information .information-fc .card-c
 {
	 background-color:yellow;
	 height:250px;
	 width:372px;
	 margin-top:100px;
 }
 .copyright
 { 
     width:1504px;
     height:120px;	
     background-color:black;
	 margin-top:50px;
 }	 
	 
	 
	 
	 
	 
	 
	 
	 